html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: #1F1D1F;
  /* font-size: 14px;
  color: #000; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%); */
}

.swiper-container{
  background-image: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  display: flex;
}


.swiper {
  width: 100%;
  /* width: 700px; */
  height: 300px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #1C1A19; */
  /* background: #DFDDDF; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #DFDDDF;
  object-fit: contain;
  /* transform: translateX(800px); */
  filter: grayscale(15%) sepia(31%) brightness(84%);
-webkit-filter: grayscale(15%) sepia(31%) brightness(84%);
-moz-filter: grayscale(15%) sepia(31%) brightness(84%);

}

/* .swiper {
  margin-left: auto;
  margin-right: auto;
} */


.bgm{
  cursor: pointer;
  background-color: #303030a4;
  padding: 7px 13px;
  border-radius: 20px;
  position: absolute;
  left: calc(100% - 66px);
  top: 10px;
  border: none;
  z-index: 20;
}

.tom{
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  filter: grayscale(15%) sepia(31%) brightness(84%);
-webkit-filter: grayscale(15%) sepia(31%) brightness(84%);
-moz-filter: grayscale(15%) sepia(31%) brightness(84%);
}


/* @keyframes tom-move{
  0%{
    transform: translateY(-50%) translateX(-300px);
  }
  33%{
    transform: translateY(-50%) translateX(100px);
  }
  66%{
    transform: translateY(-50%) translateX(0px);
  }
  100%{
    transform: translateY(-50%);
  }
} */

.intro{
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  text-align: center;
  top: 50%;
  transform: translateY(-40%);
  animation-name: intro;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.intro img{
  width: 50%;
}


@keyframes intro{
  0%{
    transform: translateY(-40%) scale(2);
  }
  50%{
    transform: translateY(-40%) scale(1);
  }
  100%{
    opacity: 0;
  }
}


.crash{
  cursor: pointer;
  z-index: 30;
  position: absolute;
}


.box{
  width: 150px;
  height: 500px;
  /* background-color: red; */
  margin-right: 500px;
}


.ending{
  position: absolute;
  /* z-index: 50; */
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

/* .swiper-slide-active {
  background-color: #4CAF50;
  color: white;
} */