html,
body {
  height: 100%;
  font-family: 'Roboto';
}

body {
  background: #1F1D1F;
  color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.swiper-container{
  background-image: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  display: flex;
}

.swiper {
  width: 100%;
  height: 300px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* background-color: #DFDDDF; */
  background-color: #1C1A19;
  object-fit: contain;
  /* filter: grayscale(15%) sepia(31%) brightness(84%);
-webkit-filter: grayscale(15%) sepia(31%) brightness(84%);
-moz-filter: grayscale(15%) sepia(31%) brightness(84%); */
}

.ending-btn{
  width: 130px;
  cursor: pointer;
  background-color: #dddadaad;
  color: #000;
  padding: 7px 13px;
  border-radius: 20px;
  position: absolute;
  left: calc(100% - 150px);
  top: 10px;
  border: none;
  z-index: 20;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}

.ending-btn:hover{
  color: rgba(240, 255, 255, 0.76);
  background-color: #747474;
}

.tom{
  position: absolute;
  height: 310px;
  top: 50%;
  left: 15%;
  z-index: 10;
  transform: translateY(-50%);
  filter: grayscale(15%) sepia(31%) brightness(84%);
-webkit-filter: grayscale(15%) sepia(31%) brightness(84%);
-moz-filter: grayscale(15%) sepia(31%) brightness(84%);
}

.crash{
  cursor: pointer;
  z-index: 30;
  position: absolute;
}

.box{
  width: 650px;
  visibility: hidden;
}

.ending{
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

.reload{
  cursor: pointer;
  transition: all 0.5s;
}

.reload:hover{
  transform: scale(1.05);
}

.swiper-button-next{
  background-color: transparent;
  border: none;
}